<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cars Price Predictor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/car_icon.png') }}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->

</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form id="form_pred" class="contact100-form validate-form" method="post" action="/api">
				<span class="contact100-form-title">
					Cars Price Prediction
				</span>

				<div class="wrap-input100 validate-input" data-validate="Mileage is required">
					<span class="label-input100">Mileage</span>
					<input class="input100" type="text" id="mileage" name="mileage" placeholder="145364">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Year of model is required">
					<span class="label-input100">Year of model</span>
					<input class="input100" type="text" id="year_model" name="year_model" placeholder="2009">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Mark</span>
					<div>
						<select class="selection-2" id="mark" name="mark">
							<option value="Renault">Renault </option>
							<option value="Dacia">Dacia </option>
							<option value="Peugeot">Peugeot</option>
							<option value="Volkswagen">Volkswagen</option>
							<option value="BMW" selected>BMW </option>
							<option value="Fiat">Fiat</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="fiscal power is required">
					<span class="label-input100">Fiscal power</span>
					<input class="input100" type="text" id="fiscal_power" name="fiscal_power" placeholder="7">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Fuel type</span>
					<div>
						<select class="selection-2" id="fuel_type" name="fuel_type">
							<option value="Diesel" selected="">Diesel </option>
							<option value="Essence">Essence </option>
							<option value="Electrique">Electrique</option>
							<option value="LPG">LPG</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button id="predict" class="contact100-form-btn">
							<span>
								How much does it cost !! 
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/select2/select2.min.js') }}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static',filename='js/main.js') }}"></script>
	<!-- include sweetAlert plugin -->
	<script src="{{ url_for('static',filename='js/sweetalert2.all.js') }}"></script>
	<script type="text/javascript">
		$(function () {

	        $("button#predict").click(function(e){
	        	e.preventDefault();
	        	/*Get for variabes*/
	        	var mileage = $("#mileage").val(), year_model = $("#year_model").val(), mark = $("#mark").val();
	        	var fiscal_power = $("#fiscal_power").val(), fuel_type = $("#fuel_type").val();
	        	/*create the JSON object*/
	        	var data = {"mileage":mileage, "year_model":year_model, "mark":mark, "fiscal_power":fiscal_power, "fuel_type":fuel_type}
	        	/*send the ajax request*/
	        	$.ajax({
	        		method : "POST",
	        		url : window.location.href + 'api',
	        		data : $('form').serialize(),
	        		success : function(result){
	        			var json_result = JSON.parse(result);
	        			var price = json_result['price'];
	        			swal('Estimated price is '+price+' DH', '','success')
	        		},
	        		error : function(){
	        			console.log("error")
	        		}
	        	})
	        })
	    
		});
	</script>
</body>
</html>
